<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CSettings.Properties.Settings>
      <setting name="use1000" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logCalculations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="calculationHistory" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Gem</string>
            <string>Cut</string>
            <string>Length</string>
            <string>Width</string>
            <string>Depth</string>
            <string>Adj</string>
            <string>SG</string>
            <string>Weight</string>
          </ArrayOfString>
        </value>
      </setting>
    </CSettings.Properties.Settings>
  </userSettings>
</configuration>