<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSconfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSconfig.Properties.Settings>
            <setting name="entrydecplaces" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="resultdecplaces" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="calcserialized" serializeAs="String">
                <value />
            </setting>
            <setting name="savedate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savetime" serializeAs="String">
                <value>False</value>
            </setting>
        </CSconfig.Properties.Settings>
    </userSettings>
</configuration>